.container-option-report{
    padding:  40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: #000;

    
    .container-direction{
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
      

        .card-group{
           
            padding: 20px;
            text-align: center;

            
            .list-style-buttons{
                padding: 20px;
                background-color: #D9D9D9;
                list-style: none;
            }
        }


    }
    
}